@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    color: White;
    background-color: "hsl(0, 0%, 10%)";
    font-family: "Lato", sans-serif;
    border-radius: 1vmin;
    border: none;
    margin: 1vmin;
    padding: 2vmin;
    font-size: 2vmin;
    outline: none;
    box-sizing: border-box;
    transition: 0.2s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    align-items: stretch;
    align-content: stretch;
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 2vmin;
    background-color: Black;
    width: 100%;
    height: 100%;
    display: flex;
}

body *:not(script) {
    display: flex;
    flex-grow: 1;
}

h1 {
    font-size: 32px;
    justify-content: center;
    display: initial;
}

button,
select,
option {
    cursor: pointer;
    text-align: center;
}

button:hover,
select:hover {
    background-color: "hsl(0, 0%, 20%)";
}

button:active,
select:active {
    background-color: "hsl(0, 0%, 20%)";
}

input:focus {
    background-color: "hsl(0, 0%, 20%)";
}

button:disabled:hover {
    background-color: "hsl(0, 0%, 30%)";
}

button:active:disabled {
    background-color: "hsl(0, 0%, 30%)";
}

:disabled {
    background-color: "hsl(0, 0%, 30%)";
    cursor: initial;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.full-width {
    width: calc(100% - 2vmin);
}

.full-height {
    height: calc(100% - 2vmin);
}

.extra-bottom-margin {
    margin-bottom: 2vmin;
}

div * {
    background-color: "hsl(0, 0%, 20%)";
}
