@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    color-scheme: light dark;
    --dark-1: hsl(240, 5%, 10%);
    --dark-2: hsl(240, 10%, 20%);
    --dark-3: hsl(240, 15%, 30%);
    --light-1: hsl(240, 45%, 90%);
    --light-2: hsl(240, 40%, 80%);
    --light-3: hsl(240, 35%, 70%);
    --unit: 1rem;
}

.active,
button:active {
    background-color: light-dark(var(--light-3), var(--dark-3));
}

body * {
    color: light-dark(var(--dark-2), var(--light-2));
    background-color: light-dark(var(--light-2), var(--dark-2));
}

::-moz-selection,
::selection {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    border-radius: var(--unit);
    border: none;
    margin: var(--unit);
    padding: var(--unit);
    font-size: var(--unit);
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    flex: 1 1 auto;
    -webkit-tap-highlight-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: light-dark(var(--light-1), var(--dark-1));
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
    text-align: center;
}

p {
    justify-content: flex-start;
}

button,
select,
option {
    cursor: pointer;
    text-align: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}

div {
    padding: 0;
    margin: 0;
    display: grid;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}