@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: light dark;
    --dark-1: hsl(240, 5%, 10%);
    --dark-2: hsl(240, 10%, 20%);
    --dark-3: hsl(240, 15%, 30%);
    --light-1: hsl(240, 45%, 90%);
    --light-2: hsl(240, 40%, 80%);
    --light-3: hsl(240, 35%, 70%);
}

body * :not(.noPaint) {
    color: light-dark(var(--dark-2), var(--light-2));
    background-color: light-dark(var(--light-2), var(--dark-2));
}

::-moz-selection {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

::selection {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

.active {
    background-color: light-dark(var(--light-3), var(--dark-3)) !important;
}

* {
    font-family: "Noto Sans", sans-serif;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    flex: 1 1 auto;
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: light-dark(var(--light-1), var(--dark-1));
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 100%;
}

body * :not(script) {
    display: flex;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

p {
    justify-content: flex-start;
}

button,
select,
option {
    cursor: pointer;
    text-align: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

a {
    text-decoration: none;
    font-weight: bold;
}

div {
    padding: 0;
    margin: 0;
    display: grid;
}