@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    color-scheme: light dark;
    --hue-degree: 270;
    --background: light-dark(oklch(70% 10% var(--hue-degree)), oklch(15% 10% var(--hue-degree)));
    --element: light-dark(oklch(85% 10% var(--hue-degree)), oklch(30% 10% var(--hue-degree)));
    --accent: light-dark(oklch(85% 10% calc(var(--hue-degree) + 30)), oklch(30% 10% calc(var(--hue-degree) + 30)));
    --text: light-dark(oklch(30% 10% var(--hue-degree)), oklch(85% 10% var(--hue-degree)));
    --placeholder: light-dark(oklch(30% 10% var(--hue-degree) 50%), oklch(85% 10% var(--hue-degree) 50%));
    --text-accent: light-dark(oklch(30% 10% calc(var(--hue-degree) + 30)), oklch(85% 10% calc(var(--hue-degree) + 30)));
    --base-unit: 1rem;
}

.active,
button:active,
select:active,
input:focus {
    background-color: transparent;
}

body * {
    color: var(--text);
    background-color: var(--element);
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Inter", "Verdana", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: var(--base-unit);
    transition: 0.5s;
    flex: 1 1 auto;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    padding: var(--base-unit);
    font-size: var(--base-unit);
    outline: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    grid: auto / 1fr;
    flex-flow: row wrap;
}

* {
    box-sizing: border-box;
}

::selection {
    color: var(--element);
    background-color: var(--text);
}

::-moz-selection {
    color: var(--element);
    background-color: var(--text);
}

::placeholder {
    color: var(--placeholder);
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: var(--base-unit);
    width: 100%;
    display: grid;
    grid-gap: var(--base-unit);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", "Verdana", sans-serif;
    font-weight: 500;
}

button,
select,
option {
    cursor: pointer;
}

a,
input {
    font-weight: 700;
}

div {
    display: grid;
    background-color: transparent;
    padding: 0;
    margin: 0;
    grid-gap: var(--base-unit);
}

input,
select,
button {
    color: var(--text-accent);
    background-color: var(--accent);
}

.two-column {
    grid: auto / 1fr 1fr;
}

.three-column {
    grid: auto / 1fr 1fr 1fr;
}

.four-column {
    grid: auto / 1fr 1fr 1fr 1fr;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

@media (hover: none) {

    .two-column,
    .three-column,
    .four-column {
        grid: auto / 1fr;
    }
}